.input-wrapp{
  min-width:250px;
  min-height:80px;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-inline-end:2%;

  .default-input {
    width: 250px;
    border-radius: 25px;
    padding: 0 4%;
    font-family: "Roboto";
    font-size: 18px;
    border: none;
    float: left;
    height:40px;
    margin-block-end:2%;
  }
  
  .default-input::placeholder {
    color: grey;
  }
  
  .default-input:focus {
    outline: none;
  }
  
  .input-label{
    color: red;
    font-size:18px;
    font-weight:500;
  }
}

